<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>

<body>
    <main>
        <div id="slider">
            <div class="text-content">
                <h2 class="text-heading">Blissful</h2>
                <p class="text-describtion">Thoải mái tận hưởng cuộc sống</p>
            </div>
        </div>
        <div id="content">
            <!-- Begin: About content -->
            <div id="inf" class="content-section">
                <h2 class="section-heading">BLISSFUL</h2>
                <p class="section-sub-heading">Cafe & Milk Tea</p>
                <p class="about-text">Blissful Coffee & Milk Tea là chuỗi cửa hàng kinh doanh cà phê và trà sữa của Việt
                    Nam, do ABC sáng lập vào năm 2002.Năm 2015, Blissful mở rộng số cửa hàng lên 75, tính đến cuối tháng
                    3 năm 2017, công ty có tổng cộng 180 cửa hàng, trên 14 tỉnh thành của Việt Nam. Tính đến tháng 2 năm
                    2019, hãng có 2 cửa hàng.Blissful Coffee & Milk Tea là chuỗi cửa hàng kinh doanh cà phê và trà sữa
                    của Việt Nam, do ABC sáng lập vào năm 2002.Năm 2015, Blissful mở rộng số cửa hàng lên 75, tính đến
                    cuối tháng 3 năm 2017, công ty có tổng cộng 180 cửa hàng, trên 14 tỉnh thành của Việt Nam. Tính đến
                    tháng 2 năm 2019, hãng có 2 cửa hàng.</p>
            </div>
            <!-- End: About content -->

            <!-- Begin: Tour content -->
            <div id="active" class="active-section">
                <div class="content-section">
                    <h2 class="section-heading text-white">HOẠT ĐỘNG</h2>
                    <p class="section-sub-heading text-white">Đến và tận hưởng cùng chúng tôi nhé!</p>
                    <div class="row places-list mt-16">
                        <div class="mt-16 col col-third">
                            <img src="{% static 'img/place3.jpg'%}" alt="Ha Noi" class="place-img">
                            <div class="place-body text-xanh">
                                <h3 class="place-heading">Hà Nội</h3>
                                <p class="place-time">22-02-2022</p>
                                <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.Praesent
                                    tincidunt sed tellus ut rutrum sed vitae justo.Praesent tincidunt sed tellus ut
                                    rutrum sed vitae justo.</p>
                            </div>
                        </div>
                        <div class="mt-16 col col-third">
                            <img src="{% static 'img/place3.jpg' %}" alt="Sai Gon" class="place-img">
                            <div class="place-body text-xanh">
                                <h3 class="place-heading">Sài Gòn</h3>
                                <p class="place-time">02-08-2022</p>
                                <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.Praesent
                                    tincidunt sed tellus ut rutrum sed vitae justo.Praesent tincidunt sed tellus ut
                                    rutrum sed vitae justo.</p>
                            </div>
                        </div>
                        <div class="mt-16 col col-third">
                            <img src="{% static 'img/place3.jpg' %}" alt="Da Nang" class="place-img">
                            <div class="place-body text-xanh">
                                <h3 class="place-heading">Đà Nẵng</h3>
                                <p class="place-time">01-01-2022</p>
                                <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.Praesent
                                    tincidunt sed tellus ut rutrum sed vitae justo.Praesent tincidunt sed tellus ut
                                    rutrum sed vitae justo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Tour content -->

            <div class="map-section content-section" id="map">
                <h2 class="section-heading text-xanh">MAP</h2>
                <p class="section-sub-heading text-xanh">Tìm chúng tôi ở đây nhé!</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15334.720716355656!2d108.1477423488892!3d16.082077741624385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d68dff9545%3A0x714561e9f3a7292c!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBLaG9hIC0gxJDhuqFpIGjhu41jIMSQw6AgTuG6tW5n!5e0!3m2!1svi!2s!4v1669951682393!5m2!1svi!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>

    <footer>
        <div id="footer">
            <div class="socials-list">
                <a href="#" class="text-white"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-youtube"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-pinterest-p"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <a href="#" class="copyright">
                Copyright <i class="fa-light fa-copyright"></i> 2022
            </a>
        </div>
    </footer>

</body>

</html>